.list {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 80px;
}
.list__items {
  align-items: center;
  text-decoration: none;
  font-size: 52px;
}
.list__items a {
  text-decoration: none;
  color: black;
}
.list__items a:hover,
.list__items a:active {
  color: blue;
}
.list__items .current {
  color: blue;
}
